<h1>Rename Team</h1>

<%= form_for(@team, :html => {:class => "styled-form"}) do |f| %>

  <label class="styled-label"> Name
    <%= f.text_field :name, :class => "styled-input" %>    
  </label>

<div><%= f.submit "Save" %></div>

<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
